.about-me-section {
    color: white;
    text-align: center;
    padding: 60px 20px;
  }
  
  .about-me-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .about-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .card {
    border: 1px solid #334155;
    border-radius: 15px;
    padding: 50px;
    width: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
  }
  
  .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .card p {
    font-size: 17px;
  }
  
.card:hover{
  transform: scale(1.05);
}